.cart{
    padding:10px;
    margin:10px 10px;
    height:80px;
    display: flex;
    border: 1px solid lightgray;
    border-radius: 10px ;
    align-items: center;
    
}
.cart img{
    width: 60px;
    height:60px;
    margin-right: 10px;
    /* border-radius: 50%; */
}