.cart{
    padding:10px;
    margin:10px 10px;
    height:80px;
    border: 1px solid lightgray;
    border-radius: 10px ;
    display: flex;
    align-items: center;  

    
}
.cart img{
    width: 60px;
    height:60px;
    margin-right: 10px;
}

@media screen and (max-width:600px) {
    
    .cart{
        width: 80%;
        margin:10px auto; 
    }
}  